body {
  padding-top: 0px;
  margin-left: 0px
}

#maincontainer {
  margin:0px;
  padding:0px;
  position:absolute;
  right:0px;
  left:0px;
  top: 50px;
  bottom:0px;
}

.leaflet-control-attribution i, .leaflet-control-attribution a {

color: #333;

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand {

  font-weight: 500;
  color: #444;

}

#mapcontainer {
  position:absolute;
  right:0px;
  left:0px;
  top: 50px;
  bottom:0px;

}

#mapid {
  position:absolute;
  right:0px;
  left:0px;
  top: 0px;
  bottom:0px;

  }

.info {
  width:280px;
  padding: 0.8em 0.8em ;
  background: white;
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 5px;

}

.info h4 {
  text-align:center;
  padding-bottom:0.4em;
  border-bottom-width: 0.15em;
  border-bottom-style: dotted;
  border-bottom-color: #444;
  margin: 0 0 13px;
}

.info h5 {
  margin: 0px;
  font-size: 1.3em;
}

.info h6 {
  margin-bottom: 0px;
  font-size: 1.1em;
}

.tooltiptext {
  margin: 0px;
  font-weight:500;
  font-size: 1.3em;
  padding:0em 0.3em;

}
